<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GIT 채팅방</title>
    </head>
    <body>
        <div>console 탭과 network 탭을 확인하세요.</div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8005', {
            path: '/socket.io',
            // transports: ['websocket']
        });
        socket.on('news', (data) => {
            console.log(data);
            socket.emit('reply', 'Hello Node.JS');
        });
    </script>
</html>
